body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(49, 48, 47);
}
.titulo-pagina{
    text-align: center;
    color: blueviolet;
}
.titulo-pagina p{
font-size: 0.8rem;
}
.titulo-pagina h1{
    font-size: 1rem;
}
.campo-info-pessoais{
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}